<%= form_for(@category, html: { name: "form", class: "form-horizontal" }) do |f| %>
  <div class="form-group" ng-class="{ 'has-error' : fieldIsValid(form['question_set_category[name]']) }">
    <label for="text" class="col-sm-2 control-label">Category Name
      <span style="color:red;">*</span>
    </label>
    <div class="col-sm-10">
      <input type="text" id="question_set_category_name" name="question_set_category[name]" class="form-control" placeholder="Name" autofocus="autofocus" ng-model="category.name" required>
      <p ng-show="fieldIsValid(form['question_set_category[name]'])" class="error">Category Name is required.</p>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : fieldIsValid(form['question_set_category[max_question]']) }">
    <label for="text" class="col-sm-2 control-label">Max Question
      <span style="color:red;">*</span>
    </label>
    <div class="col-sm-10">
      <input type="text" id="question_set_category_max_question" name="question_set_category[max_question]" class="form-control" placeholder="Max Question" ng-model="category.max_question" min=0 ng-pattern="onlyNumbers" required>
      </input>
      <p ng-show="fieldIsValid(form['question_set_category[max_question]'])" class="error">Max question is required and should be an integer.
      </p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="togglebutton">
        <label>
          <%= f.check_box :enabled %> Enabled
        </label>
      </div>
    </div>
  </div>
  <button style="visibility: hidden"></button>
  <div class="text-right">
    <%= f.submit "OK", class: "btn btn-primary", ng_disabled: "form.$invalid" %>
    <%= link_to "Cancel", :back, class: "btn btn-warning" %>
  </div>
<% end %>