<form name="form" ng-submit="submitCategory(form.$invalid)" class="form-horizontal" novalidate>
  <div
    class="form-group"
    ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
    <label for="text" class="col-sm-2 control-label">Category Name
      <span style="color:red;">*</span>
    </label>
    <div class="col-sm-10">
      <input
        type="text"
        id="name"
        name="name"
        class="form-control"
        placeholder="Name"
        ng-model="category.name"
        autofocus="autofocus"
        required>
      </input>
      <p
        ng-show="form.name.$invalid && !form.name.$pristine"
        class="error">Category Name is required.
      </p>
    </div>
  </div>
  <div
    class="form-group"
    ng-class="{ 'has-error' : form.max_question.$invalid && !form.max_question.$pristine }">
    <label for="text" class="col-sm-2 control-label">Max Question
      <span style="color:red;">*</span>
    </label>
    <div class="col-sm-10">
      <input
        type="text"
        id="max_question"
        name="max_question"
        class="form-control"
        placeholder="Max Question"
        ng-model="category.max_question"
        min=0
        ng-pattern="onlyNumbers"
        required
      >
      </input>
      <p
        ng-show="form.max_question.$invalid && !form.max_question.$pristine"
        class="error">Max question is required and should be an integer.
      </p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="togglebutton">
        <label>
          <input type="checkbox" id="enabled" ng-model="category.enabled">Enabled
        </label>
      </div>
    </div>
  </div>
  <button style="visibility: hidden"></button>
  <div class="text-right">
    <button class="btn btn-primary" type="button" ng-click="submitCategory(form.$invalid)" ng-disabled="form.$invalid">OK</button>
    <a href="/question_set/categories">
      <button class="btn btn-warning" type="button">Cancel</button>
    </a>
  </div>
</form>