<div ng-controller="AvailableController" ng-init="init()">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Exam List</li>
  </ul>

    <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th style="width: 100px;">Final Grade</th>
          <th style="width: 60px;">Attempts</th>
          <th style="width: 60px;">Actions</th>
        </tr>
      </thead>
      <tbody data-link="row" class="rowlink">
        <tr ng-repeat="category in categories">
          <td class="rowlink-skip">
            {{category.name}}
          </td>
          <td class="rowlink-skip">

          </td>
          <td class="rowlink-skip">

          </td>
          <td class="rowlink-skip text-center vert-middle">
            <a class="btn bootstrap" ng-click="start(category.id)">
              <i class="glyphicon glyphicon-play text-primary"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>