<div ng-controller="CategoryController">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/question_set/categories">Categories</a></li>
    <li class="active">Category</li>
  </ul>
  <br />

  <%= render "form" %>
</div>