<div ng-controller="ExamResultController" ng-init="init('<%= @category.id %>')">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><%= link_to "Available Exams", available_path %></li>
    <li class="active">Results</li>
  </ul>

  <div class="text-center">
    <h3><%= @category.name %></h3>
  </div>

  <br />
  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Score</th>
          <th>Completed At</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="exam in exams">
          <td class="text-center">
            <div ng-class="{'text-success': examPassed(exam), 'text-warning': !examPassed(exam)}">
              <b>{{showGrade(exam)}} </b>
            </div>
          </td>
          <td class="text-center">
            {{exam.completed_at | date: 'medium'}}
          </td>
          <td class="text-center">
            <a ng-href="/exam/lists/{{exam.id}}">View</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>