<section id="loginBox">
  <h2 class="text-center">Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="input-group">
      <span class="input-group-addon">
        <i class="mdi-communication-vpn-key"></i>
      </span>
      <input type="password" id="user_password" name="user[password]" class= "form-control floating-label" placeholder= "New Password (8 characters minimum)" autocomplete="off">
    </div>

    <div class="input-group">
      <span class="input-group-addon">
        <i class="mdi-communication-vpn-key"></i>
      </span>
      <input type="password" id="password_confirmation" name="user[password_confirmation]" class= "form-control floating-label" placeholder= "New Password Confirmation" autocomplete="off">
    </div>

    <button class="btn btn-block btn-primary waves-effect waves-light" type="submit" name="commit">Change my password</button>
  <% end %>

  <hr />
  <%= render "devise/shared/links" %>
</section>