.vertical-align {
  display: flex;
  align-items: center;
}

.error {
  color: #f44336
}
.table thead>tr>th {
  text-align: center;
}

/* Override bootstrap */
.table > tbody > tr > td {
 vertical-align: middle;
}

.form-control-wrapper {
  margin: 20px 0;
}

/* Disable the materialize default btn css */
.btn.bootstrap {
  padding: 6px 12px;
  margin: 0px 0px;
}

section#loginBox {
  background-color: rgb(255,255,255);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset, 0 0 4px rgba(0,0,0,0.2);
  margin: 40px auto; /*aligns center*/
  padding: 24px;
  width: 400px;
}

.table-borderless {
  border-top:0px !important;
  border-bottom:0px !important;
  border-left:0px !important;
  border-right:0px !important;
}
.table-row-borderless {
  border: 0px !important;
}